#form {
  width: 400px;
  min-height: 80px;
  padding: 20px;
}
* {
  box-sizing: border-box;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.item {
  margin-bottom: 10px;
}
.item label {
  float: left;
  width: 30%;
  margin-right: 5px;
}

.item .wrapper {
  overflow: hidden;
}

.item input {
  display: block;
  width: 100%;
}

.buttonWrapper {
  margin-top: 20px;
}
